@layer components {
    article.budget {
        &[data-archived="true"] {
            opacity: var(--opacity-50);
        }

        & [data-remainder-progress] {
            width: 100%;
            height: 0.75rem;
            margin-block: var(--space-v-half) var(--space-v);
            border-radius: var(--radius-full);
            border: var(--border-subtle);
            background: var(--color-4);

            & [data-remainder-progress-fill] {
                display: block;
                width: clamp(0%, var(--remainder-percentage), 100%);
                height: 100%;
                border-radius: inherit;
                background: linear-gradient(
                    90deg,
                    var(--color-4),
                    color-mix(in oklch, var(--color-palette-blue) 88%, var(--color-1))
                );
            }

        }
    }

    article.budget > footer > [data-appearance="keycap"] {
        flex: 1;
    }
}
