@layer components {
    .currency-picker {
        border: var(--border-subtle);

        & [data-currency-combobox] {
            position: relative;
        }

        & [data-currency-combobox] > .icon-wrap {
            position: absolute;
            inset-inline-start: var(--form-space-h);
            inset-block-start: 50%;
            translate: 0 -50%;
            pointer-events: none;
        }

        & input[type="search"] {
            border: 0;
            padding-inline-start: calc(var(--form-space-h) + var(--space-h-2));
        }

        & [data-currency-picker-target="options"] {
            border-top: var(--border-subtle);
        }

        & [data-currency-picker-option] {
            min-width: 0;

            &:has(input[type="radio"]:checked) {
                background: var(--color-2);
            }

        }

        &>[data-currency-picker-target="attachment"] {
            display: grid;
            gap: var(--space-v-half);
            padding-block: var(--space-v-half);
            border-top: var(--border-subtle);

        }

        & [data-currency-rate-input] {
            display: grid;
            gap: var(--space-h-half);

            &>:is(input, output) {
                padding: var(--space-v-half) var(--space-h-half);
            }

            &>input {
                block-size: var(--form-control-height);
                font-size: var(--font-size-base-type);
            }

            &>output {
                font-size: var(--font-size-xs);
            }
        }

        & [data-currency-picker-target="attachment"] :is(
            output,
            [data-expense-fields-target~="sourceDebit"],
            [data-expense-fields-target~="budgetValue"]
        ) {
            display: flex;
            align-items: center;
            block-size: var(--form-control-height);
            padding: var(--space-v-half) var(--space-h-half);
        }
    }
}
