@layer components {
    & input[data-controller~="money-input"] {
        height: 5rem;
        font-size: var(--font-size-2xl);
        font-weight: var(--font-weight-bold);
        text-align: center;
    }
}