@layer components {
    main.session-page > header {
        display: grid;
        justify-items: center;
        gap: var(--space-v-half);
        padding-block: var(--space-v-2);
        text-align: center;

        & h1 {


            color: var(--color-accent);
            /* font-family: "Bradley Hand", "Comic Sans MS", cursive; */
            font-size: var(--font-size-2xl);
            /* font-style: italic; */
            letter-spacing: 0.04em;
            /* rotate: -2deg; */
            text-transform: uppercase;
            font-family: var(--font-family-sans);
        }
    }
}
