@layer components {

    .icon-wrap {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 2ch;
      height: 2ch;
      box-sizing: border-box;
      border-radius: var(--radius-4);
      flex-shrink: 0;
    }
  
    .icon {
      display: block;
      width: 100%;
      height: 100%;
      background: currentColor;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      -webkit-mask-position: center;
      mask-position: center;
      --icon-mask: none;
      -webkit-mask-image: var(--icon-mask);
      mask-image: var(--icon-mask);
      flex-shrink: 0;
    }
  
    :root {
     --icon-briefcase: url(/icon-briefcase.svg);
     --icon-building-bank: url(/icon-building-bank.svg);
     --icon-car: url(/icon-car.svg);
     --icon-cash-banknote: url(/icon-cash-banknote.svg);
     --icon-chevron-left: url(/icon-chevron-left.svg);
     --icon-chevron-right: url(/icon-chevron-right.svg);
     --icon-coin: url(/icon-coin.svg);
     --icon-credit-card: url(/icon-credit-card.svg);
     --icon-gift: url(/icon-gift.svg);
     --icon-home: url(/icon-home.svg);
     --icon-pig-money: url(/icon-pig-money.svg);
     --icon-plane: url(/icon-plane.svg);
     --icon-plus: url(/icon-plus.svg);
     --icon-shopping-cart: url(/icon-shopping-cart.svg);
     --icon-wallet: url(/icon-wallet.svg);
     --icon-circle-dot: url(/icon-circle-dot.svg);
     --icon-trash-simple: url(/icon-trash-simple.svg);
    }
  }
